// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// SCSS Outil DX (developer xperience)

$gray:   #F4F4F4;
$spacer: 8px;

// body {
//   background: $gray; // Using this variable
// }

.btn {
  padding:          $spacer ($spacer * 3);
  background-color: $gray;
}

h1 {
  color: $gray;
}

.banner {
  background: red;

  h1 {
    font-size: 50px;
  }

  p {
    color: $gray;
  }
}
